{% extends "admin/admin_base.html" %}

{% block admin_content %}

<h1>Add Manager Page </h1>
<h1>This IS Register Page!</h1>

<div class="container">
    <div style="background-color:red; padding:20px;">

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <label>Username</label><br>
            <input type="text" name="username" required><br><br>

            <label>Profile</label><br>
            <input type="file" name="profile" accept="image*/"><br><br>

            <label>Email</label><br>
            <input type="email" name="email" required><br><br>

            <label>Phone Number</label><br>
            <input type="text" name="phone" required><br><br>

            <label>Role</label><br>
            <select name="role">
                <option value="manager">Manager</option>
            </select><br><br>

            <label>Address</label><br>
            <input type="text" name="address"><br><br>

            <label>Password</label><br>
            <input type="password" name="password" required><br><br>

            
            <label>Confirm Password</label><br>
            <input type="password" name="password1" required><br><br>
         
            <button type="submit">Register</button>
        </form>

    </div>
</div>

{% endblock %}