{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
<div class="row">

<!-- SIDEBAR -->
<div class="col-md-2 bg-dark text-white vh-100 p-3">

<h4 class="text-center mb-4">
<i class="fas fa-feather-alt"></i> BirdyBazaar
</h4>

<ul class="nav flex-column">

<li class="nav-item mb-2">
<a href="{% url 'dashboard' %}" class="nav-link text-white">
<i class="fas fa-home me-2"></i> Dashboard
</a>
</li>

<li class="nav-item mb-2">
<a href="{% url 'home_slider' %}" class="nav-link text-white">
<i class="fas fa-sliders-h me-2"></i> Home Slider
</a>
</li>

<li class="nav-item mb-2">
<a href="{% url 'home_banner' %}" class="nav-link text-white">
<i class="fas fa-image me-2"></i> Home Banner
</a>
</li>
<li class="nav-item mb-2">
<a href="{% url 'users' %}" class="nav-link text-white">
<i class="fas fa-user-shield me-2"></i> UserList
</a>
</li>
<li class="nav-item mb-2">
<a href="{% url 'add_manager' %}" class="nav-link text-white">
<i class="fas fa-user-shield me-2"></i> AddManager
</a>
</li>
</ul>

</div>

<div class="col-md-10 p-4">

{% block admin_content %}

{% endblock %}

</div>

</div>
</div>

{% endblock %}