{% extends 'admin/admin_base.html' %}
{% block admin_content %}

<style>
    table {
        width:100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #000;
        padding: 8px;
        text-align: center;
    }

    th{
        background-color:burlywood;
    }
    img {
        width:60px;
        height:60px;
        object-fit:cover;
        border-radius: 50%;
    }
</style>
<table>
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Phone</th>
        <th>role</th>
        <th>Address</th>
        <th>Profile</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    {% for user in users %}
    <tr>
        <td> {{user.username}} </td>
        <td> {{user.email}} </td>
        <td> {{user.phone}} </td>
        <td> {{user.role}} </td>
        <td> {{user.address}} </td>
        <td>
            {% if user.profile %}
            <img src="{{ user.profile.url }}" width="60">
            {% else %}
            <p style="text-shadow: #000;">User Don't Have Profile !</p>
            {% endif %}
        </td>
       
        <td>
            {% if user.is_active %}
            <h5>Active</h5>
            {% else %}
            <h5>Deactive</h5>
            {% endif %}
        </td>
        <td>
            <form action="{% url 'change_action' user.id %}" method="POST" onsubmit="return confirmChange()">
                {% csrf_token %}
                <select name="status">

                <option value="True" {% if user.is_active %}selected{% endif %}>Active</option>

                <option value="False" {% if not user.is_active %}selected{% endif %}>Deactive</option>

                </select>
                <button type="submit" class="btn btn-outline-primary btn-sm mt-2 mb-2">Changes</button>
            </form>
        </td>
    </tr>
    {% empty %}
     <tr>
        <h1 colspan="6">No Users !</h1>
     </tr>
     {% endfor %}
    
</table>

<br>
<br>

<script>
    function confirmChange(){
        return confirm("Are You Sure Change Status ?")
    }
</script>
{% endblock %}