{% extends 'base.html' %}
{% block content %}

<style>
    table {
        width:100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #000;
        padding: 8px;
        text-align: center;
    }

    th{
        background-color:burlywood;
    }
    img {
        width:60px;
        height:60px;
        object-fit:cover;
        border-radius: 50%;
    }
</style>
<table>
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Phone</th>
        <th>role</th>
        <th>Address</th>
        <th>Profile</th>
        <th>Update</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    {% for user in users %}
    <tr>
        <td> {{user.username}} </td>
        <td> {{user.email}} </td>
        <td> {{user.phone}} </td>
        <td> {{user.role}} </td>
        <td> {{user.address}} </td>
        <td>
            {% if user.profile %}
            <img src="{{ user.profile.url }}" width="60">
            {% else %}
            <p style="text-shadow: #000;">User Don't Have Profile !</p>
            {% endif %}
        </td>
        <td>{{ user.is_active }}</td>
        <td>
            {% if user.is_active %}
            <h4>Active</h4>
            {% else %}
            <h4>Deactive</h4>
            {% endif %}
        </td>
        <td>
            <button class="btn btn-outline-secondary"><a href="{% url 'update_user_profile_view' user.id %}">edit</a></button>
        </td>
    </tr>
    {% empty %}
     <tr>
        <h1 colspan="6">No Users !</h1>
     </tr>
     {% endfor %}
    
</table>

<br>
<br>


{% endblock %}