{% load static %}
<nav class="navbar navbar-expand-lg py-0" style="background-color: {{ Home.bg_color|default:'#ffffff' }}">
  <div class="container">

    <a class="navbar-brand" href="{% url 'home' %}">
        {% if Home.logo %}
        <img src="{{ Home.logo.url }}" alt="logo-image" width="100" style="border-radius: {{ Home.logo_radius|default:'40' }}px">
        {% else %}
        <span>No Logo</span>
        {% endif %}
        <span 
        style="font-size: {{ Home.font_size|default:'16' }}px; 
        color: {{ Home.font_color|default:'#000000' }}; 
        font-family: '{{ Home.font_family|default:"Arial" }}', serif, sans-serif;">
        {{ Home.mahal_name | default:"MuthuKumaran Mahal" }}</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNav">
        <ul class="navbar-nav ms-auto">
            
            {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" style="color: {{ Home.font_color|default:'#000000' }}; font-size: {{ Home.font_size|default:'16' }}px;" href="{% url 'home' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" style="color: {{ Home.font_color|default:'#000000' }}; font-size: {{ Home.font_size|default:'16' }}px;" href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" style="color: {{ Home.font_color|default:'#000000' }}; font-size: {{ Home.font_size|default:'16' }}px;" href="{% url 'profile' %}">Profile</a></li>
                <li class="nav-item"><a class="nav-link" style="color: {{ Home.font_color|default:'#000000' }}; font-size: {{ Home.font_size|default:'16' }}px;" href="{% url 'logout' %}" onclick="return confirm('Are You Sure Logout !')">Logout</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link" style="color: {{ Home.font_color|default:'#000000' }}; font-size: {{ Home.font_size|default:'16' }}px;" href="{% url 'home' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" style="color: {{ Home.font_color|default:'#000000' }}; font-size: {{ Home.font_size|default:'16' }}px;" href="{% url 'about' %}">About</a></li>
                <li class="nav-item"><a class="nav-link" style="color: {{ Home.font_color|default:'#000000' }}; font-size: {{ Home.font_size|default:'16' }}px;" href="{% url 'special' %}">Specials</a></li>
                <li class="nav-item"><a class="nav-link" style="color: {{ Home.font_color|default:'#000000' }}; font-size: {{ Home.font_size|default:'16' }}px;" href="{% url 'contact' %}">Contact</a></li>
                <li class="nav-item"><a class="nav-link" style="color: {{ Home.font_color|default:'#000000' }}; font-size: {{ Home.font_size|default:'16' }}px;" href="{% url 'login' %}">Login</a></li>
                <li class="nav-item"><a class="nav-link" style="color: {{ Home.font_color|default:'#000000' }}; font-size: {{ Home.font_size|default:'16' }}px;" href="{% url 'register' %}">Register</a></li>
            {% endif %}

        </ul>
    </div>

  </div>
</nav>
